/* import font*/
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200;300&display=swap');
  
#date_time {
    font-family: 'K2D', sans-serif;
    background: transparent;
    border-radius: 25px;
    background: #485fc7;
    padding: 10px;
    margin: 10px;
  }